.box{ border: 1px solid black;}

* {
  --light-border: rgb(234, 221, 255);
  --light-gray: rgb(241, 241, 241);
  --text-gray: gray;
  --text-gray-hover: rgb(204, 204, 204);

  --bgColor_indigo: rgb(79,70,229);
  --bgColor_indigo_Hover: rgb(165, 160, 255);
  --headerFooter_height: 65px;
  --header_height: 70px;
  --footer_height: 70px;

}

.App {
  /* background: #000; */

  display: flex;
  flex-direction: column;

  height: 100vh;
  overflow: hidden;
  /* height:; */
  /* text-align: center; */
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.COMPONENT__Header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: var(--header_height);
  /* height: var(--header_height); */

}
.Header_Left, .Header_Right{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

}
.Header_Left{
  margin-left: 25px;
}
.Header_Right{
  margin-right: 25px;
}

.COMPONENT__Login , .COMPONENT__SignUp{
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: calc(100vh - var(--header_height) - var(--footer_height));
}

.COMPONENT__AllProducts{

}
.section{
  width: 100%;
  min-height: calc(100vh - var(--header_height));
}

.SECTION__SinglePage{
  min-height: calc(100vh - var(--header_height) - var(--footer_height));
  overflow-y: scroll;
}

.COMPONENT__Cart_Body{
}
.COMPONENT__CartItems{

}
.bottomSection{
  width: 100%;
  min-height: calc(100vh - var(--header_height) - var(--footer_height));
}


/* .App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #282c34;

  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
} */
.Body_Content{
  position: relative;

  display: flex;
  flex-direction: column;

  /* max-height: calc( 100vh - var(--headerFooter_height)); */

  /* height: calc( 100vh - var(--headerFooter_height)); */
  overflow-y: scroll;
}

.PAGE__HomePage{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* height: 100%; */
  /* overflow-y: scroll; */
}

.SECTION__AboutUs{
  display: flex;
  flex-direction: column;

  /* height: calc(100vh - var(--header_height) - var(--footer_height)); */
  /* height: 500px; */
  /* overflow-y: scroll; */
}

.section{
  /* min-height: 100vh; */
}
.topBottom_section{
  /* min-height: calc(100vh - var(--headerFooter_height)); */
}
.COMPONENT__Footer{
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */

  min-height: var(--footer_height);
}
.signUpHere, .loginHere{
  font-weight: bold;
  color: var(--bgColor_indigo)
}
.signUpHere:hover, .loginHere:hover{
  color: var(--bgColor_indigo_Hover)

}

.App-link {
  color: #61dafb;
}

.productCard-checkoutBtn{
 background-color: var(--bgColor_indigo);
 color: rgba(255, 255, 255, 0.884);
}
.productCard-checkoutBtn:hover{
  background-color: var(--bgColor_indigo_Hover);
}

.cbm-border-bottom {  
  border-bottom: 1px solid var(--light-gray)
}

.COMP_Hero{

}
.COMPONENT__HeaderCartIcon_Container{
  display: flex;

  /* flex-direction: column; */
  justify-content: center;
  align-items: center;


}

.COMPONENT__HeaderCart{
  border: 2px solid chartreuse;
  display: absolute;

  z-index: 1;
}

.COMPONENT__NavElements{
  display: none;


  /* display: flex; */
  justify-content: center;
  align-items: center;

  font-size: 12px;
}
.NavLink{

  /* display: flex; */
  padding: 5px;
  margin-left: 2vw;
}
.HamburgerIcon{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: center;
  flex-direction: column;


  height: 50px;
  width: 50px;
}
.HamburgerLine{
  position: relative;
  display: block;
  width: 20px;
  height: 2px;

  background-color: var(--text-gray);

  margin-top: 2.5px;
  margin-bottom: 2.5px;
  /* padding: 1px; */
}
.Line1{
  /* z-index: 1; */
}
.Line2{
  /* z-index: 2; */
}
.Line3{
  /* z-index: 3; */

}
.HamburgerIcon:focus .HamburgerLine{
  background-color: var(--text-gray-hover);

}
.COMPONENT__HeaderCartIcon_Container{
  display: none;
}


.LogoAnchor{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  width: 50px;
}

.LogoImg{
  min-width: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}