.box {
  border: 1px solid black;
}

* {
  --light-border: rgb(234, 221, 255);
  --gray1: rgb(241, 241, 241);
  --gray2:rgb(218, 218, 218);
  --gray3:rgb(148, 148, 148);
  --text-gray: gray;
  --text-gray-hover: rgb(204, 204, 204);
  --bgColor_indigo: rgb(79,70,229);
  --bgColor_indigo_Hover: rgb(165, 160, 255);
  --bgColor_clear: rgb(229, 70, 70);
  --bgColor_clear_Hover: rgb(255, 160, 160);
  --bgColor_btn_update: orange;
  --bgColor_btn_update_Hover: rgb(255, 221, 158);
  --bgColor_ProductCard: rgb(255, 236, 212);
  --headerFooter_height: 65px;
  --header_height: 70px;
  --footer_height: 70px;
  --margin-topBottom: 5px;
  --pixel_Y_1: 5px;
  --marginX-1: 50px;
  --text-gray-400: #cbd5e0;
  --text-gray-500: #a0aec0;
  --text-gray-600: #718096;
  --text-gray-900: #1a202c;
  --border-gray-200: #edf2f7;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.App .COMPONENT__Login, .App .COMPONENT__SignUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: calc(100vh - var(--header_height) - var(--footer_height));
}

.App .section {
  width: 100%;
  min-height: calc(100vh - var(--header_height));
}

.App .SECTION__SinglePage {
  min-height: calc(100vh - var(--header_height) - var(--footer_height));
  overflow-y: scroll;
}

.App .bottomSection {
  width: 100%;
  min-height: calc(100vh - var(--header_height) - var(--footer_height));
}

.App .Body_Content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* max-height: calc( 100vh - var(--headerFooter_height)); */
  /* height: calc( 100vh - var(--headerFooter_height)); */
  overflow-y: scroll;
}

.App .PAGE__HomePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* height: 100%; */
  /* overflow-y: scroll; */
}

.App .SECTION__AboutUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* height: calc(100vh - var(--header_height) - var(--footer_height)); */
  /* height: 500px; */
  /* overflow-y: scroll; */
}

.App .section {
  /* min-height: 100vh; */
}

.App .topBottom_section {
  /* min-height: calc(100vh - var(--headerFooter_height)); */
}

.App .COMPONENT__Footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* flex-direction: column; */
  min-height: var(--footer_height);
}

.App .signUpHere, .App .loginHere {
  font-weight: bold;
  color: var(--bgColor_indigo);
}

.App .signUpHere:hover, .App .loginHere:hover {
  color: var(--bgColor_indigo_Hover);
}

.App .App-link {
  color: #61dafb;
}

.App .cbm-border-bottom {
  border-bottom: 1px solid var(--light-gray);
}

.App .inputProduct-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: var(--marginX-1);
  padding-right: var(--marginX-1);
}

.App .form-pair {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  margin-top: var(--margin-topBottom);
  margin-bottom: var(--margin-topBottom);
}

.titleBasic {
  text-align: center;
  padding: 5px;
}

.btnStyle_clear, .btnStyle {
  color: white;
  padding: var(--pixel_Y_1);
  border-radius: 5px;
}

.btnStyle {
  background-color: var(--bgColor_indigo);
}

.btnStyle:hover {
  background-color: var(--bgColor_indigo_Hover);
}

.btnStyle_clear {
  background-color: var(--bgColor_clear);
}

.btnStyle_clear:hover {
  background-color: var(--bgColor_clear_Hover);
}

/* HEADER */
/*# sourceMappingURL=App.css.map */