.box {
  border: 1px solid black;
}

* {
  --light-border: rgb(234, 221, 255);
  --gray1: rgb(241, 241, 241);
  --gray2:rgb(218, 218, 218);
  --gray3:rgb(148, 148, 148);
  --text-gray: gray;
  --text-gray-hover: rgb(204, 204, 204);
  --bgColor_ProductCard: rgb(255, 236, 212);
  --bgColor_indigo: rgb(79,70,229);
  --bgColor_indigo_Hover: rgb(165, 160, 255);
  --bgColor_clear: rgb(229, 70, 70);
  --bgColor_clear_Hover: rgb(255, 160, 160);
  --bgColor_btn_update: orange;
  --bgColor_btn_update_Hover: rgb(255, 221, 158);
  --headerFooter_height: 65px;
  --header_height: 70px;
  --footer_height: 70px;
  --margin-topBottom: 5px;
  --pixel_Y_1: 5px;
  --marginX-1: 50px;
  --text-gray-400: #cbd5e0;
  --text-gray-500: #a0aec0;
  --text-gray-600: #718096;
  --text-gray-900: #1a202c;
  --border-gray-200: #edf2f7;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.App .COMPONENT__Login, .App .COMPONENT__SignUp, .App .COMPONENT__AddProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: calc(100vh - var(--header_height) - var(--footer_height));
}

.App .COMPONENT__Login .signUpHere, .App .COMPONENT__Login .loginHere, .App .COMPONENT__SignUp .signUpHere, .App .COMPONENT__SignUp .loginHere, .App .COMPONENT__AddProduct .signUpHere, .App .COMPONENT__AddProduct .loginHere {
  font-weight: bold;
  color: var(--bgColor_indigo);
}

.App .COMPONENT__Login .signUpHere:hover, .App .COMPONENT__Login .loginHere:hover, .App .COMPONENT__SignUp .signUpHere:hover, .App .COMPONENT__SignUp .loginHere:hover, .App .COMPONENT__AddProduct .signUpHere:hover, .App .COMPONENT__AddProduct .loginHere:hover {
  color: var(--bgColor_indigo_Hover);
}

.App .COMPONENT__Hero, .App .COMPONENT__FeaturedProducts {
  width: 100%;
  min-height: calc(100vh - var(--header_height));
}

.App .SECTION__SinglePage, .App .COMPONENT__Cart {
  min-height: calc(100vh - var(--header_height) - var(--footer_height));
}

.App .Body_Content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
}

.App .Body_Content .PAGE__HomePage .COMPONENT__Hero {
  background-color: var(--text-gray-900);
  position: relative;
}

.App .Body_Content .PAGE__HomePage .COMPONENT__AboutUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App .Body_Content .PAGE__HomePage .COMPONENT__ContactUs {
  width: 100%;
  min-height: calc(100vh - var(--header_height) - var(--footer_height));
}

.App .Body_Content .COMPONENT__AddProduct .inputProduct-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: var(--marginX-1);
}

.App .Body_Content .COMPONENT__AddProduct .inputProduct-form .form-pair {
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.App .Body_Content .COMPONENT__AddProduct .inputProduct-form h1, .App .Body_Content .COMPONENT__AddProduct .inputProduct-form div, .App .Body_Content .COMPONENT__AddProduct .inputProduct-form button {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: var(--margin-topBottom);
  margin-bottom: var(--margin-topBottom);
}

.App .Body_Content .COMPONENT__Footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* flex-direction: column; */
  min-height: var(--footer_height);
}

.App .cbm-border-bottom {
  border-bottom: 1px solid var(--light-gray);
}

.App .BTN__Clear, .App .BTN__Indigo {
  color: white;
  padding: var(--pixel_Y_1);
  border-radius: 5px;
}

.App .BTN__Indigo {
  background-color: var(--bgColor_indigo);
}

.App .BTN__Indigo:hover {
  background-color: var(--bgColor_indigo_Hover);
}

.App .BTN__Clear {
  background-color: var(--bgColor_clear);
}

.App .BTN__Clear:hover {
  background-color: var(--bgColor_clear_Hover);
}

.App .titleBasic {
  text-align: center;
  padding: 5px;
}
/*# sourceMappingURL=App.css.map */