/* Based from Google Chrome screen widths */

/* Mobile S */
@media screen and (min-width: 320px){

}

/* Mobile M */
@media screen and (min-width: 375px){

}

/* Mobile L */
@media screen and (min-width: 425px){

}

/* Mobile XL */
@media screen and (min-width: 596px){
    .COMPONENT__DesktopNavElements{
        display: flex;
    }
    
    .NavBar .MobileView {
        display: none;
    }

    .NavBar .DesktopView {
        display: flex;
    }
}

/* Tablet */
@media screen and (min-width: 768px){
    .NavBar .DesktopView .NavLinks {

    }
    .DesktopNavElements{
        /* font-size: 13px; */
    }
    .NavBar .DesktopView {
        /* display: flex; */
    }


}

/* Laptop */
@media screen and (min-width: 1024px){
    /* .COMPONENT__Header{ */
    .NavBar{
        justify-content: space-around;
    }
    .DesktopView {
        /* background-color: aqua; */
    }

}

/* Laptop L */
@media screen and (min-width: 1440px){

}

/* 4K */
@media screen and (min-width: 2560px){

}